#shop{
    height: 50px;
    float: right;
    padding-bottom: 100px;
}

html { 
        background: url("https://d13yacurqjgara.cloudfront.net/users/269297/screenshots/2510082/bdribbble.gif") no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}

#title1{
    text-align: center;
    font-family: Comic Sans MS;
    font-size: 50px;
    color: orange;
    padding-top: 150px;
    padding-left: 300px;
}

#question{
    height: 100px;
    float: right;
    padding-bottom: 100px;
    padding-right: 100px;
}

#home{
    height: 50px;
    float: left;
    padding-bottom: 100px;
    padding-left: 900px;
}


#red{
    font-family: monospace;
    color: #FF0000;
}

#orange{
    font-family: monospace;
    color: #FF8B00;
}

#yellow{
    font-family: monospace;
    color: #FFF000;
}

#green{
    font-family: monospace;
    color: #4DFF00;
}

#blue{
    font-family: monospace;
    color: #00FFF7;
}

#indigo{
    font-family: monospace;
    color: #0032FF;
}

#violet{
    font-family: monospace;
    color: #9B00FF;
}

h3{
    font-family: 'Indie Flower', cursive;
    color: #6A0047;
}

audio { 
   display:none;
}